# Excluded all files that are outputed by the application.
output/
.integration_tests/
*health_check.out
src/*/junit.xml

[Oo]bj/
[Bb]in/
.fake/
.nuget/
.sonarqube/
.vs/
packages/
artifacts/
logs/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
*.lock.json
_ReSharper.*
*.DotSettings.user
*.nuget.targets
src/*/*.debug.json
RefitStubs.cs
*.orig
build/tools
/.sonarqube
docker-swarm.integration-tests.yml
.env
!docker/eventstore/debug/cert-sync.exe
*.dll 
*.exe
*.pdb
*.bak
*.tlb
*.log
*.err
*.scc


# IDEs and editors
.idea
*/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# web-ui
/wwwroot
/src/web-app/dist
/src/web-app/client/dist
/src/web-app/www/*
!/src/web-app/www/lib
/src/web-app/www/lib/*
!/src/web-app/www/lib/images
package-lock.json
node_modules
npm-debug.log
/tmp
/out-tsc
/artifacts
tests/web-ui-protractor
tests/web-ui
src/web-app/ws-ls.json

# misc
/.sass-cache
/connect.lock
src/web-app/coverage/*
/coverage
/libpeerconnection.log
npm-debug.log.*
testem.log
/typings
Thumbs.db
.env
/.env
.vscode
# data
backup.*.json
migration.*.json
rollback.*.json

/docker/web-app/organization-ui/*
!/docker/web-app/organization-ui/.keep

# Build Pipeline
StaffAssignment.Tests.sln
/tests/*/coverage/*